/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
   box-sizing: border-box;
   margin:0;
   padding:0;
   -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;

}

body {
  font-family: monospace;
}

header {
  margin: 0 auto;
  padding: 10px;
  background-color: #b3ffe6;
}

#submit, #slideshow-submit {
  background-color: #FFFFFF;
  width: 120px;
  height: 20px;
}

.content {
  /*width: 750px;*/
  margin: 0 auto;
}


/*div#slideshow {
  position: relative;
  max-height: 240px;
  width: auto;
  /*position: absolute;*/
  /*top: 0px;
  right: -10px;
}

img.slides{
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0px;
    height: 240px;*/
/*}*/
